aiogram
aiohttp
aiohttp-socks
aiosignal
async-timeout
attrs
Babel
beautifulsoup4
certifi
charset-normalizer
cycler
frozenlist
idna
kiwisolver
matplotlib
mplfinance
multidict
numpy
pandas
Pillow
pyparsing
python-dateutil
python-socks
pytz
requests
six
soupsieve
toml
typing_extensions
urllib3
yarl
